.cell {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-top-none {
  border-top: none;
}
.border-right-none {
  border-right: none;
}
.border-bottom-none {
  border-bottom: none;
}
.border-left-none {
  border-left: none;
}